<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <h3>Listing Details :</h3>
    <ul>
      <li><strong>Title:</strong> <%= listing.title %></li>
      <li><strong>Description:</strong> <%= listing.description %></li>
      <li><strong>Price:</strong> &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
      <li><strong>Location:</strong> <%= listing.location %></li>
      <li><strong>Country:</strong> <%= listing.country %></li>
    </ul>
    <br />
    <h4>Image:</h4>
    <img src="<%= listing.image %>" alt="Listing Image" style="max-width: 100%; height: auto;" />
  </body>
</html>
